@charset "UTF-8";

@font-face {
    font-family: 'Poppins-Regular';
    src: url('/fonts/Poppins-Regular.woff2') format('woff2'),
        url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('/fonts/Poppins-Medium.woff2') format('woff2'),
        url('/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('/fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root {
    font-size: 100%;
    scroll-behavior: smooth;
    --black: #000;
    --white: #fff;
    --color-text: #3D4A5C;
    --color-title: #1C222B;
    --color-bg: #ffffff;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --orange: #FF7C03;
    --orange-light: #FFBD80;
    --orange-extralight: #FFFBF6;
    --gradient: linear-gradient(to right, #6604FD, #FD003C, #FDBA01);
    --tipo-principal: 'Poppins-Regular', sans-serif;
    --tipo-secundaria: Verdana;
    --border-radius: 4px; 
}

/* ========= Dark Mode =========== */
[data-theme="dark"] {
    --color-bg: #1a1a1a;
    --color-text: #ffffff;
    --color-title: #ffffff;
    --color-shadow: rgba(255, 255, 255, 0.1);
    --white: #000;
    --black: #fff;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

* , *::before , *::after{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
*::before , *::after{
  display: block;
}
img, picture, video, iframe, figure , canvas{
  max-width: 100%;
  width: 100%;
  display: block;
  height: initial;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
p a {
  display: inline;
}
li , menu, summary {
  list-style: none;
}
ol{
  counter-reset: revert;
}
html {
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em, mark, del, pre, code {
  font:inherit;
  line-height: 1em;
  color: inherit;
  text-decoration: none;
  text-wrap: pretty;
}
mark{
  background-color: transparent;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}
form, input, textarea, select, button, label {
  font:inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}
textarea {
  white-space: pre-wrap;
}
::placeholder {
  color: unset;
}
button , label{
  cursor: pointer;
}
table, tr, td , th, thead, tbody, tfoot{
  border-collapse: collapse;
  border-spacing: 0;
  font:inherit;
}
svg {
  width: 100%;
  height: initial;
  display: block;
  fill: currentColor;
}
p svg{
  display: inline;
  width: initial;
}
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}
:where([draggable="true"]) {
  -webkit-user-drag: element;
}
body {
  min-height: 100vh;
  color:inherit;
  line-height: 1.5em;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins-Regular", sans-serif;
}