---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Slider from '../components/Slider.astro';
import Agitation from '../components/Agitation.astro';
import Problem from '../components/Problem.astro';
---

<BaseLayout title="Home" description="Welcome to our dental clinic" keywords="dental, clinic, home">
		<Header />
		<main>
			<Hero />
			<Slider />
			<Agitation />
			<Problem />
		</main>
</BaseLayout>
