---
import "../styles/global.css"
const { title, description, keywords } = Astro.props
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>
        <style>
            /* Critical CSS: https://midu.dev/como-extraer-el-critical-css-con-puppeteer/ */
        </style>
        <link rel="stylesheet" href="/src/style/global.css" />
        <meta name="keywords" content={keywords} />
        <meta name="description" content={description} />
        <meta name="author" content="Brian Exequiel" />
        <meta name="copyright" content="Brian Exequiel" />
        <meta name="robots" content="index, follow" />
        <link
            rel="shortcut icon"
            href="/assets/favicon/favicon.png"
            type="image/x-icon"
        />
        <meta name="theme-color" content="#4285f4" />
        <meta name="mobile-web-app-capable" content="yes" />
        <!-- HTML Meta Tags -->
        <meta
            name="description"
            content="Desarrollador Web Full Stack y Diseñador UX/UI con experiencia en JavaScript, React, Node.js, MySQL, MongoDB y Figma. Aplico metodologías ágiles para transformar ideas en negocios digitales exitosos. ¡Contáctame para llevar tu proyecto al siguiente nivel!"
        />

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://brianexequiel.vercel.app/" />
        <meta property="og:type" content="website" />
        <meta
            property="og:title"
            content="Desarrollador Web FullStack - Brian Exequiel"
        />
        <meta
            property="og:description"
            content="Desarrollador Web Full Stack y Diseñador UX/UI con experiencia en JavaScript, React, Node.js, MySQL, MongoDB y Figma. Aplico metodologías ágiles para transformar ideas en negocios digitales exitosos. ¡Contáctame para llevar tu proyecto al siguiente nivel!"
        />
        <meta
            property="og:image"
            content="https://opengraph.b-cdn.net/production/images/90082454-99a8-4bd9-9384-f02de6ef7eef.jpg?token=x4PU6eA99bLFrkUYBsfwj_Mhac6kXi0lWWFOAIF1jTg&height=579&width=1200&expires=33283961090"
        />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta property="twitter:domain" content="brianexequiel.vercel.app" />
        <meta
            property="twitter:url"
            content="https://brianexequiel.vercel.app/"
        />
        <meta
            name="twitter:title"
            content="Desarrollador Web FullStack - Brian Exequiel"
        />
        <meta
            name="twitter:description"
            content="Desarrollador Web Full Stack y Diseñador UX/UI con experiencia en JavaScript, React, Node.js, MySQL, MongoDB y Figma. Aplico metodologías ágiles para transformar ideas en negocios digitales exitosos. ¡Contáctame para llevar tu proyecto al siguiente nivel!"
        />
        <meta
            name="twitter:image"
            content="https://opengraph.b-cdn.net/production/images/90082454-99a8-4bd9-9384-f02de6ef7eef.jpg?token=x4PU6eA99bLFrkUYBsfwj_Mhac6kXi0lWWFOAIF1jTg&height=579&width=1200&expires=33283961090"
        />
        <meta name="generator" content={Astro.generator} />
    </head>
    <body>
        <main>
            <slot />
        </main>
    </body>
</html>